<header1{
    margin-bottom: 80px;
}
.header1 img{
    width: 100%;
}
.habc{
            color:#55b74d;
    }
    
.p123{
    text-align: center;
    color: blue;
}
.p234{
    color: blueviolet;
    text-align: center
}
.hcde{
    color: chartreuse;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}  
.def123{
    color: aqua;
    text-align: center;
    font-size: 50px;
}